<p>
  <strong><%= t('.title') %></strong>
  <%= @badge.title %>
</p>
<p>
  <strong><%= t('.rule') %></strong>
  <%= @badge.rule %>
</p>

<p>
  <%= image_tag @badge.image %>
</p>


<%= link_to t('buttons.edit_badge'), edit_admin_badge_path(@badge) %>
<%= link_to t('buttons.back'), admin_badges_path %>
