<h2><%= t('.header', title: @test_passage.test.title) %> </h2>

<% if @test_passage.success?  && !@test_passage.time_out? %>
  <p>
    <%= t('.result') %> <span class="success"> <%= @test_passage.percent_correct %></span> %.
    <%= t('.success_test') %>
  </p>
  <% else %>
  <p>
    <%= t('.result') %> <span class="fail"> <%= @test_passage.percent_correct %></span> %.
    <%= t('.fail_test') %>
  </p>
<% end %>

<%= link_to t('buttons.all_tests'), tests_path %>
