<h2><%= t('.header', title: @question.test.title) %></h2>

<p>
  <%= @question.body %>
</p>

<h3><%= t('.answer') %>: </h3>

<%= link_to t('buttons.new_question'), new_admin_question_answer_path(@question) %>

<ol>
  <%= render @question.answers %>
</ol>

<%= link_to t('buttons.edit_question'), edit_admin_question_path(@question)%>
<%= link_to t('buttons.back'), admin_test_path(@question.test) %>
