 <p class="nav user"><%= link_to 'Тест Гуру', root_path %></p>
 <% if logged_in? %>
    <p class="nav user">Добро пожаловать, Гуру <%= current_user.name %>
      </br>
      <%= link_to 'Выход', logout_path, method: :delete %>
    </p>
  <% else %>
    <p class="nav user">
      <%= link_to 'Регистрация', signup_path %> 
      <%= link_to 'Войти', login_path %> 
    </p>
 <% end %>
