 <p class="nav user"><%= link_to t('buttons.root_test_guru'), root_path %></p>
 <% if user_signed_in? %>
    <p class="nav user"><%= t('welcome') %> <%= current_user.email %> |
      <%= link_to 'Выход', destroy_user_session_path, method: :delete %>
    </p>
  <% else %>
    <p class="nav user">
      <%= link_to t('.sign_up'), new_user_registration_path %> 
      <%= link_to t('.sign_in'), new_user_session_path %> 
    </p>
 <% end %>
